<% contentFor('body') %>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-2 mt-2">
            <a href="/home"><img class='d-block mx-auto' src="/LOGO.png" alt="Logo" style="width:80%"></a>
        </div>
        <div class="col-5 mt-2">
            <div class="headerButtons py-3">
                <a class='mx-3 text-light' href="/home">Cursos</a>
                <a class='mx-3 text-light' href="/user">Área do Usuário</a>
                <a class='mx-3 text-light' href="/ranking">Ranking</a>
            </div>
        </div>
        <div class="col-1 mt-2"></div>
        <div class="col-4">
            <div class="d-flex headerUser pt-3 px-4 pb-3">
                <img class='imgUser' src="/<%= user[0]['img'] %>" alt="User Image">
                <div class="p-1 text-light userName"><%= user[0]['name'] %><p class="userTitle"><%= user[0]['title_1'] %></p></div>
                <div class="levelBar pb-1 px-3 d-flex justify-content-between">
                    <div class=" pl-4 userLevel">Level <%= user[0]['level'] %></div>
                    <div> <%= user[0]['experience'] %></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class='main row container-fluid '>
    <div class="container-fluid text-light col-8">
        <div class='infoQuestion d-flex justify-content-between px-4'>
            <label class="courseViewExp" style="position:absolute"><%= course[0]['experience'] %> Pontos</label>
            <label class="courseViewName"><%= course[0]['name'] %></label>
            <label class="courseViewProgress">Você completou esse curso <%= completed[0]['count(*)'] %> vezes<% if(typeof score[0]!=='undefined' && score[0]['score']==course[0]['qt_questions']){ %>
                    e tirou a nota máxima!<% } %>.</label>
        </div>
        <div class="margem1 courseDesc">
            Descrição: <%= course[0]['description'] %>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <% if(typeof score[0]!=='undefined' && score[0]['score']==course[0]['qt_questions']){ %>
                <a class='col-3 p-2 courseButton' href="/home">
                    Voltar à página de cursos
                </a>             
            <% }else{ %>
                <a class='col-3 p-2 courseButton' href="/course/<%= course[0]['id'] %>">
                    <% if(progress[0]['count(*)']>completed[0]['count(*)']){ %> 
                        Continuar sua ultima tentativa
                    <%} else {%>
                        Começar o curso
                    <% } %>
                </a> 
            <% } %>
        </div>
    </div>
    <div class="col-4 mt-4">
        <label class="text-light labelRanking">Top 10 do ranking</label>
        <div class="ranking margem2 pt-3 px-3 pb-3" style="margin-left:13%">
            <table class="text-light container-fluid">
                <tbody class="container-fluid">
                <tr>
                    <td class="column2">Posição</td>
                    <td class="column2">Usuário</td>
                    <td class="column2">Pontuação</td>
                </tr>
                <% for(x=0;x<10;x++) { %>
                    <tr>
                        <th class="column2"><%= x+1 %>.</th>
                        <th class="column2"><% if(typeof rank[x]!='undefined'){ %> <%= rank[x]['user'] %> <% } %></th>
                        <th class="column2"><% if(typeof rank[x]!='undefined'){ %> <%= rank[x]['experience'] %>pt<% } %></th>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </div>
</div>

